body {
    background-color: #0b132b;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

/* generali container todo list */
.todo-container {
    background-color: #1c2541;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

li {
    background-color: #3a506b;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    cursor: pointer;
    flex-grow: 1;

}

li span.done {
    text-decoration: line-through;
    color: red;

}

/* sezione bottoni generali */

button {
    background-color: #ef233c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;

}

button:hover {
    background-color: #d90429;
}

/* bottone visualizza task descrittive */
.view-btn {
    background-color: orange;
}

.view-btn:hover {
    background-color: green;
}

/* bottone placeholder input */

.input-container button {
    background-color: green;

}

/* Nuovo stile per la schermata di dettaglio */
.todo-detail {
    background-color: #1c2541;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.todo-detail p {
    margin: 10px 0;
}

.todo-detail button {
    background-color: #ef233c;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.todo-detail button:hover {
    background-color: #d90429;
}